<div class="app-icon">
    <a ng-href="{{ app.appLaunchUrl || app.homepageUrl || '#' }}"
       chrome-launch="app"
       class="app-icon-container">
        <img ng-src="{{ app.icons|iconsize:128:app }}"
             ng-title="{{ app.name }}" class="app-icon-image" />
        <span class="app-desc">{{ app.name }}</span>
    </a>

    <div class="app-actions">
        <a href="#" class="app-menu-button" ng-click="$event.preventDefault()"
           title="{{ app.name }}">
            <i class="fa fa-2x fa-ellipsis-h"></i>
        </a>
        <a href="#" ng-if="app.type != 'packaged_app'"
           chrome-launch="app"
           title="{{ msg('openAppTitle', [app.name]) }}">
            <i class="fa fa-2x fa-play"></i>
        </a>
        <a href="#" ng-if="app.type != 'packaged_app'"
           chrome-pinned="app"
           title="{{ msg('openAppPinnedTitle', [app.name]) }}">
            <i class="fa fa-2x fa-thumb-tack"></i>
        </a>
        <a href="#" ng-if="app.type != 'packaged_app'"
           chrome-new-tab="app"
           title="{{ msg('openAppNewTabTitle', [app.name]) }}">
            <i class="fa fa-2x fa-level-up"></i>
        </a>
        <a href="#" ng-if="app.type != 'packaged_app'"
           chrome-new-window="app"
           title="{{ msg('openAppNewWindowTitle', [app.name]) }}">
            <i class="fa fa-2x fa-external-link"></i>
        </a>
        <a href="#" chrome-options="app" ng-if="app.optionsUrl"
           title="{{ msg('openAppOptionsTitle', [app.name]) }}">
            <i class="fa fa-2x fa-wrench"></i>
        </a>
        <a href="#" chrome-uninstall="app.id"
           title="{{ msg('uninstallAppTitle', [app.name]) }}">
            <i class="fa fa-2x fa-trash-o"></i>
        </a>
    </div>
</div>
