<div class="container top-sites-container">
    <div ng-repeat="site in top track by site.url"
         class="app-icon top-site"
         ng-class="{'top-site-dragging': draggedTopSiteIndex === $index,
                    'top-site-drag-over': dragOverTopSiteIndex === $index}"
         draggable="true"
         ont-dragstart="startTopSiteDrag(site, $index, $event)"
         ont-dragover="dragOverTopSite($index, $event)"
         ont-dragleave="leaveTopSiteDrag($index, $event)"
         ont-drop="dropTopSite($index, $event)"
         ont-dragend="endTopSiteDrag($event)">
        <a ng-href="{{ site.url }}" ng-title="{{ site.title }}"
           target="_self" class="app-icon-container"
           ng-click="openTopSite($event)">
            <div class="site-preview">
                <img class="site-preview-image"
                     ng-if="site.preview"
                     ng-src="{{ site.preview }}"
                     alt="" />
                <div class="site-preview-fallback">
                    <img class="site-preview-icon"
                         ng-src="chrome://favicon/{{ site.url }}"
                         alt="" />
                    <span class="site-preview-title">{{ site.title }}</span>
                    <span class="site-preview-url">{{ site.url | domain }}</span>
                </div>
            </div>

            <span class="app-desc">{{ site.title }}</span>
        </a>
        <span class="site-drag"
              title="{{ msg('moveTopSite') }}">
            <i class="fa fa-arrows"></i>
        </span>
        <button class="site-pin"
                ng-click="pinTopSite(site, $event)"
                ng-hide="site.pinned"
                title="{{ msg('pinTopSite') }}"
                type="button">
            <i class="fa fa-thumb-tack"></i>
        </button>
        <button class="site-edit"
                ng-click="openEditTopSite(site, $event)"
                title="{{ msg('editSite') }}"
                type="button">
            <i class="fa fa-pencil"></i>
        </button>
        <button class="site-dismiss"
                ng-click="removeTopSite(site, $event)"
                title="{{ site.pinned ? msg('unpinTopSite') : msg('removeTopSite') }}"
                type="button">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="app-icon top-site-add-tile" ng-show="top.length < 12">
        <a class="app-icon-container top-site-add-button"
           href=""
           ng-click="openAddTopSite($event)"
           title="{{ msg('addSite') }}">
            <div class="site-preview site-preview-add">
                <i class="fa fa-plus"></i>
            </div>
            <span class="app-desc">{{ msg('addSite') }}</span>
        </a>
    </div>
    <span class="clear"></span>
</div>
